.list_module {

  padding-bottom: 120px;

  &.item {
    padding-bottom: 20px;
    & ul > li{
      min-height: 100%;
    }
  }

  & ul {

    padding: 0 16px;

    & li {
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.21);
      border-radius: 10px;
      min-height: 122px;
      width: 100%;

      &:not(:first-child) {
        margin-top: 20px;
      }

      & .module {
        border-radius: 10px;

        & .module_content {
          display: flex;
          align-items: center;
          min-height: 86px;

          & .image {
            border-radius: 10px;
            padding: 6px;
            max-width: 86px;
            width: 100%;

            & img {
              max-width: 86px;
              width: 100%;
            }
          }

          & .description {
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 6px;
            padding-right: 0;
            color: #fff;

            & h2 {
              font-size: 18px;
              font-weight: 600;
            }

            & p {
              font-size: 16px;
              font-weight: 400;
              //color: #333;
            }
          }
        }

        & .module_bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;

          background: #fff;
          padding: 6px 10px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;

          & > span {
            display: flex;
            align-items: center;
          }
        }

      }
    }
  }
}